body{
    position:relative;
}
#screen{
    width:26em;
    height:9em;
    background-color: black;
    border:1px;
}

#calc_body{
    width:26em;
    height:30em;
}

#cursor{
    width:20px;
    height:20px;
    background-color:black;
    opacity:80%;
}

#result{
    position:absolute;
    left:615px;
    top:90px;
    letter-spacing: 0px;
    font-size: 20px;
    font-family: monospace;
    color:red;
}

button{
    background-color:white;
    border-radius: 2em;
    font-weight:bold;
    width:5em;
    height:3em;
    position:absolute;
}
.leftarrow{
    background-image: url(../../images/leftarrow.png);
    background-size:3em;
    background-repeat:no-repeat;
    background-position: center center;
}
.rightarrow{
    background-image: url(../../images/rightarrow.png);
    background-size:3em;
    background-repeat:no-repeat;
    background-position: center center;
}
.row1{
    top:40em;
}
.row2{
    top:36em;
}
.row3{
    top:32em;
}
.row4{
    top:28em;
}
.col1{
    left:46em;
}
.col2{
    left:52em;
}
.col3{
    left:58em;
}
.col4{
    left:64em;
}
.col5{
    left:70em;
}
.row5{
    top:24em;
}
.row7{
    top:16em;
}


